<ng-container *ngIf="!_empDetailService.userDetailsFlag; else elseTemplate">
  <p>Please add <a  [routerLink]="[ '/employeedetails/' ]">User Details</a> </p>
</ng-container>
<ng-template #elseTemplate>
  



<div class="jumbotron container row col-md-8 offset-md-4">
    <h3>View Employee Details-Form</h3>
    <form  (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="_empDetailService.empData">
  
      <div class="form-group">
        <label>DOB</label>
        <input type="date" formControlName="DOB" class="form-control" [attr.disabled]="!_empDetailService.editflag? true : null"
          [ngClass]="{ 'is-invalid': submitted && _empDetailService.f.DOB.errors }">
        <div *ngIf="submitted && _empDetailService.f.DOB.errors" class="invalid-feedback">
          <div *ngIf="_empDetailService.f.DOB.errors.required">Date of Birth is required</div>
        </div>
      </div>
  
      <div class="form-group" >
          <label>Address</label>
          <textarea formControlName="Address" class="form-control" [attr.disabled]="!_empDetailService.editflag? true : null"
            [ngClass]="{ 'is-invalid': submitted && _empDetailService.f.Address.errors }"></textarea>
          <div *ngIf="submitted && _empDetailService.f.Address.errors" class="invalid-feedback">
            <div *ngIf="_empDetailService.f.Address.errors.required">Address is required</div>
          </div>
        </div>
  
        <div class="row">
        <div class="form-group col-md-6" >
          <label>City</label>
          <input type="text" formControlName="City" class="form-control" [attr.disabled]="!_empDetailService.editflag? true : null"
            [ngClass]="{ 'is-invalid': submitted && _empDetailService.f.City.errors }">
          <div *ngIf="submitted && _empDetailService.f.City.errors" class="invalid-feedback">
            <div *ngIf="_empDetailService.f.City.errors.required">City is required</div>
          </div>
        </div>
  
        <div class="form-group col-md-6" >
          <label>State</label>
          <input type="text" formControlName="State" class="form-control" [attr.disabled]="!_empDetailService.editflag? true : null"
            [ngClass]="{ 'is-invalid': submitted && _empDetailService.f.State.errors }">
          <div *ngIf="submitted && _empDetailService.f.State.errors" class="invalid-feedback">
            <div *ngIf="_empDetailService.f.State.errors.required">Date of Birth is required</div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="form-group col-md-6" >
          <label>PinCode</label>
          <input type="tel" formControlName="PinCode" class="form-control" [attr.disabled]="!_empDetailService.editflag? true : null"
            [ngClass]="{ 'is-invalid': submitted && _empDetailService.f.PinCode.errors }">
          <div *ngIf="submitted && _empDetailService.f.PinCode.errors" class="invalid-feedback">
            <div *ngIf="_empDetailService.f.PinCode.errors.required">PinCode is required</div>
          </div>
        </div>
  
        <div class="form-group col-md-6" >
          <label>Country</label>
          <input type="text" formControlName="Country" class="form-control" [attr.disabled]="!_empDetailService.editflag? true : null"
            [ngClass]="{ 'is-invalid': submitted && _empDetailService.f.Country.errors }">
          <div *ngIf="submitted && _empDetailService.f.Country.errors" class="invalid-feedback">
            <div *ngIf="_empDetailService.f.Country.errors.required">Country is required</div>
          </div>
        </div>
      </div>
  
  
        <button type="button" class="btn btn-success" (click)="edit()" [hidden]="_empDetailService.editflag">Edit</button>
        <button type="button" class="btn btn-success" (click)="update()" [hidden]="!_empDetailService.editflag">Update</button>
        <button type="button" class="btn btn-danger" (click)="cancel()" [hidden]="!_empDetailService.editflag" style="float: right;">Cancel</button>
   
        <button type="button" [hidden]="_empDetailService.editflag" (click)="delete()" class="btn btn-danger" style="float: right;">Delete</button>
    
    </form>
  
  </div>
</ng-template>